.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

}

.loader {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top: 3px solid #674be0;
  border-right: 3px solid #674be0;
  animation: loop 1s linear infinite;
  background-color: inherit;
}


@keyframes loop {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}