.recorder {
  height: 100%;
  background-color: #674be0;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  height: 35px;
  flex-grow: 1;
  z-index: 10;
}

.recorder::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: lightgray;
  opacity: .40;
  z-index: -1;
  transform-origin: left;
  animation: juice 60s linear 0s 1 forwards;
}

.recorder button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: none;
  font-size: 35px;
  cursor: pointer;
  color: white;
}

.timerRecorder {
  background-color: white;
  color: #674be0;
  border-radius: 99999px;
  user-select: none;
  pointer-events: none;
  height: 24px;
  width: 50px;
  margin-right: 3px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;

}


@keyframes juice {
  from {
    transform: scaleX(0);
  }

  else {
    transform: scaleX(1);
  }
}