.textSkeleton {
  background-color: gray;
  border-radius: 9999px;
  animation: loading .75s ease-in-out 0s infinite alternate none;
}



@keyframes loading {
  from {
    opacity: 1;
  }

  to {
    opacity: 0.5;
  }
}