.profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(212, 212, 212, 0.200);
  border-right: 1px solid rgba(212, 212, 212, 0.200);
  padding: 0 20px;
}

.profile a {
  display: flex;
  align-items: center;
  column-gap: 5px;
  text-decoration: none;
  color: white;
  font-family: inherit;
  font-size: 20px;
}

.profile a img {
  width: 42px;
}

.container {
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: row-reverse;
  column-gap: 5px;
  align-items: center;
}

.picture {
  width: 35px;
  border-radius: 50%;
}

.container .btnOpenModal {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border: none;
  background-color: #333;
  border-radius: 50%;
  cursor: pointer;
  font-size: 18px;
}