.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  animation: fade .4s ease 1;
  z-index: 1;
}

.backgroundModal {
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.contentModal {
  width: 600px;
  height: 500px;
  border-radius: 10px;
  background-color: #333;
  z-index: 3;
}

.header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
  border-bottom: 1px solid rgba(212, 212, 212, 0.200);
}

.header h2 {
  font-weight: 500;
}

.header button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #444;
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 20px;
  color: white;
  cursor: pointer;
}

.content {
  height: 75%;
  overflow-y: auto;
}

.footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 15%;
  padding-right: 10px;
  border-top: 1px solid rgba(212, 212, 212, 0.200);
}

.footer button {
  background-color: #444;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-family: inherit;
  font-size: 16px;
  color: white;
  cursor: pointer;
}

@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}