.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 75px;
  padding: 0 15px;
  border-bottom: .5px solid rgb(91, 85, 85);
  border-right: .5px solid rgb(91, 85, 85);
}

.menu button {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #333;
  color: white;
  font-size: 20px;
  border: none;
  cursor: pointer;
}

.menu div {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
}

.menu a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
  column-gap: 5px;
  font-size: 20px;
}