.header {
  display: flex;
  align-items: center;
  padding: 0 20px;
  grid-column: 1/-1;
  grid-row: 1/2;
  border-bottom: 1px solid rgba(212, 212, 212, 0.200);
}


.leftHeader {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.leftHeader img {
  width: 45px;
  border-radius: 50%;
}